<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="~{fragments/nav :: navbar}"></div>
<div class="container">
    <h1 th:text="${title}"></h1>

    <form method="post" th:action="@{/orders/processNewOrder}" th:object="${order}">
        <div class="form-group">
            <label for="order_number">Order Number</label>
            <input type="text" class="form-control" id="order_number"
                   th:field="*{order_number}" placeholder="Enter order number">
        </div>

        <div class="form-group">
            <label for="product_name">Product Name</label>
            <input type="text" class="form-control" id="product_name"
                   th:field="*{product_name}" placeholder="Enter product name">
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price"
                   th:field="*{price}" placeholder="Enter price">
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity"
                   th:field="*{quantity}" placeholder="Enter quantity">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
        <a class="btn btn-secondary mt-3" th:href="@{/orders}">Cancel</a>
    </form>
</div>
</body>
</html>